@using AppModel.ViewModel
@using AppUtility.Extension
@model DashboardVM
@{
    var AssignClassRoom = (List<ClassRoomDashboardInfo>)Model.DashboardDataObj;
    if (AssignClassRoom == null)
    {
        AssignClassRoom = new List<ClassRoomDashboardInfo>();
    }
}
<!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-secret"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Teachers</span>
                <span class="info-box-number">
                    10
                    <small>%</small>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Students</span>
                <span class="info-box-number">41,410</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-book"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Classes</span>
                <span class="info-box-number">760</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">2,000</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">My Class Rooms</h5>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @foreach (var itemAray in AssignClassRoom.Split(3))
                {
                    <div class="row">
                        @foreach (var item in itemAray)
                        {
                            <div class="col-md-4">
                                @switch (item.RecurringType)
                                {
                                    case "D":
                                        <div class="card card-widget widget-user-2">
                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                            <div class="widget-user-header bg-success" style="cursor: pointer;" title="Click here to enter Classroom">
                                                <div class="widget-user-image">
                                                    <img class="img-circle elevation-2" src="~/assets/img/AppLogo/DailyRecurring.png" alt="Daily">
                                                </div>
                                                <!-- /.widget-user-image -->
                                                <h3 class="widget-user-username">@item.ClassName</h3>
                                                <h5 class="widget-user-desc">@item.ClassTeacherName</h5>
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Students <span class="float-right badge bg-primary">@item.TotalClassStudents</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Frequency <span class="float-right badge bg-info">@item.Frequency </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Class Time <span class="float-right badge bg-success">@item.ClassTime</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Next Class <span class="float-right badge bg-danger">@item.NextClass</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        break;
                                    case "W":
                                        <div class="card card-widget widget-user-2">
                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                            <div class="widget-user-header bg-secondary" style="cursor: pointer;" title="Click here to enter Classroom">
                                                <div class="widget-user-image">
                                                    <img class="img-circle elevation-2" src="~/assets/img/AppLogo/WeeklyRecurring.png" alt="Daily">
                                                </div>
                                                <!-- /.widget-user-image -->
                                                <h3 class="widget-user-username">@item.ClassName</h3>
                                                <h5 class="widget-user-desc">@item.ClassTeacherName</h5>
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Students <span class="float-right badge bg-primary">@item.TotalClassStudents</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Frequency <span class="float-right badge bg-info">@item.Frequency</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Class Time <span class="float-right badge bg-success">@item.ClassTime</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Next Class <span class="float-right badge bg-danger">@item.NextClass</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        break;
                                    case "M":
                                        <div class="card card-widget widget-user-2">
                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                            <div class="widget-user-header bg-warning" style="cursor: pointer;" title="Click here to enter Classroom">
                                                <div class="widget-user-image">
                                                    <img class="img-circle elevation-2" src="~/assets/img/AppLogo/MonthlyRecurring.png" alt="Daily">
                                                </div>
                                                <!-- /.widget-user-image -->
                                                <h3 class="widget-user-username">@item.ClassName</h3>
                                                <h5 class="widget-user-desc">@item.ClassTeacherName</h5>
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Students <span class="float-right badge bg-primary">@item.TotalClassStudents</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Frequency <span class="float-right badge bg-info">@item.Frequency</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Class Time <span class="float-right badge bg-success">@item.ClassTime</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            Next Class <span class="float-right badge bg-danger">@item.NextClass</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        break;
                                    default:
                                        break;
                                }
                            </div>
                        }
                    </div>
                }
                <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
